// Elements

.page-calling
  .wrapper .inner
    flexbox flex
    .content-col
      flex 1
  header
    h1
      font-size 2em
      letter-spacing 3px
  .back-link
    text-decoration none
    font-size .8em
    color color-medium-gray
    margin-bottom 1em
    display block
    margin-top -1em
  .actions
    flexbox flex
    justify-content space-between
    .action
      flex 1
      text-decoration none
      border-right 1px solid color-medium-gray
      margin-right 3.5em
      position relative
      flexbox flex
      flex-direction column
      opacity .27
      &.active
        opacity 1
      header
        flexbox flex
        justify-content space-between
        margin-right 2em
        ins
          text-decoration none
          display block
        h2
          font-weight 400
          max-width 6em
          letter-spacing 2px
      .fa
        font-size 3em
    .action:last-child
      margin-right 0
      border-right 0
  .next-action
    flexbox flex
    flex-direction column
    align-items flex-end
    .button
      flex 1
  .candidate-chooser
    margin 2em 0
  .dialer-action
    flexbox flex
    flex-direction column
    align-items center
    justify-content center
    border 1px solid color-medium-gray
    padding 1.2em
    margin 1em 0 2em
    h3
      font-size 1.3em
      margin 0
    .button
      margin 1em 0
    p
      margin 0

.calling-script
  header
    flexbox flex
    align-items center
    margin-bottom 2em
    .fa
      font-size 3em
      margin-right .5em
    .info
      flexbox flex
      flex-direction column
      h2, p
        margin 0
.candidate-chooser
  .candidates
    flexbox flex
    flex-wrap wrap
    margin-left -6px
  .candidate
    margin-bottom 8px
    width calc(25% - 10px)
    padding 4px
    cursor pointer
    flexbox flex
    padding .5em
    overflow hidden
    border 1px solid transparent
    &:hover
      border 1px solid color-medium-gray
    &.active
      border 1px solid color-medium-dark-gray
    .location
      flexbox flex
      text-transform uppercase
      color color-medium-gray
      font-size .6em
      margin-top .2em
      letter-spacing 2px
      white-space nowrap
      overflow hidden
      .state
        &:after
          content "•"
          display inline-block
          font-weight 400
          margin 0 .3em
    .name
      font-size 1em
      line-height 1.2em
      font-weight 400
      letter-spacing 1px
    .photo
      width 3em
      height 3em
      min-width 3em
      overflow hidden
      margin-right .5em
      img
        width 3em
        height 3em

@media screen and (max-width: 810px)
  .candidate-chooser
    .candidate
      margin-bottom 8px
      width calc(50% - 6px)
  .calling-script
    header
      .fa
        display none
  .page-calling
    .actions
      flex-direction column
      .action
        border-right 0
        border-bottom 1px solid color-medium-gray
        margin-right 0
        margin-bottom 2em
        padding-bottom 0
        display none
        &.active
          display block
        header
          margin-right 0
          align-items center
          ins
            font-size 1.3em
          h2
            max-width inherit
          .fa
            font-size 3em

@media screen and (max-width: 548px)
  .candidate-chooser
    .candidate
      margin-bottom 8px
      padding .5em
      width 100%
      .location
        font-size .8em