// Elements

.page-joined
  background-color color-bright-gray
  color color-white
  flex 1

  h1, h2, h3, h4, h5
    color color-white

  h1, h2
    margin 0 0 .5em

  header.thanks
    text-align center
    padding 2em
    background-color color-dark-gray
    h2
      margin 0

  .donate-form
    background-color color-dark-gray
    flexbox flex
    flex-direction row
    justify-content space-around
    align-items center
    max-width calc(100% - 10em)
    margin 3.5em auto 6em
    padding 1.5em
    h2
      margin 0
    .button
      color color-white !important

  .volunteer-form
    background-color color-dark-gray
    max-width calc(100% - 10em)
    padding 1.5em
    margin 1.5em auto

  .volunteer
    margin-top 3em