// Elements

.page-joined
  color color-white
  flex 1

  h1, h2, h3, h4, h5
    color color-white

  h1, h2
    margin 0 0 .5em

  .wrapper
    background-color color-bright-gray

  header.thanks
    text-align center
    padding 7em 2em 2em 2em
    background-color color-dark-gray
    h2
      margin 0

  .donate-form
    background-color color-dark-gray
    flexbox flex
    flex-direction row
    justify-content space-around
    align-items center
    max-width calc(100% - 10em)
    margin 3.5em auto 0
    padding 1.5em
    h2
      margin 0
    .button
      color color-white !important

  .volunteer-form
    background-color color-dark-gray
    max-width calc(100% - 10em)
    padding 1.5em
    margin 1.5em auto

@media screen and (max-width: 736px)
  .page-joined
    .wrapper
      padding: 1.5em 0 3em 0
    .donate-form
      flex-direction column
      max-width none
      margin 2em 0 0
      .button
        margin-top 1.5em
    .volunteer
      form
        max-width none
        h2
          margin-bottom 2em