// Elements

.page-sign-up
  color color-white
  flex 1
  max-width 75%
  margin 8em auto

  h1, h2, h3, h4, h5
    color color-white

  h1, h2, p
    margin 0 0 .5em
    text-align center

  .wrapper
    padding 4em 0 1em 0

  .sign-up
    margin-top 40px

  .volunteer-form
    background-color color-dark-gray
    max-width calc(100% - 10em)
    padding 1.5em
    margin 1.5em auto

    .actions
      margin-top 1em
      text-align center

@media screen and (max-width: 736px)
  .page-joined
    .wrapper
      padding: 1.5em 0 3em 0
    .volunteer
      form
        max-width none
        h2
          margin-bottom 2em