<div class="calling-script">
  <header>
    <div class="fa fa-file-text-o"></div>
    <div class="info">
      <h2><%= @candidate.title %></h2>
      <p>Calling script 2018</p>
    </div>
  </header>
  <div class="script">
    <%= if @candidate.script do %>
      <%= {:safe, @candidate.script} %>
    <% end %>
  </div>
</div>
