<div class="candidates">
  <%= for candidate <- @candidates do %>
    <%= render MainWebsite.SharedView,
               "candidate_chooser_item.html",
               conn: @conn,
               candidate: candidate,
               is_active: false %>
  <% end %>
</div>
