<a href="<%= page_path(@conn, :calling_script) %>?id=<%= @candidate.slug %>"
   class="candidate<%= if @is_active do %> active<% end %>">
  <div class="photo"><img src="<%= @candidate.small_picture %>" alt="" /></div>
  <div class="info">
    <div class="name"><%= @candidate.title %></div>
    <div class="location">
      <div class="state"><%= @candidate.state_abbrev %></div>
      <div class="district"><%= @candidate.chamber %></div>
    </div>
  </div>
</a>
