<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="TODO: Taquito">
    <meta name="author" content="TODO: Taquito">

    <!-- for Facebook -->
    <meta property="og:type" content="article" />

    <!-- for Twitter -->
    <meta name="twitter:card" content="summary_large_image" />


    <title>TODO: Project Taquito</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300,400,300italic,400italic" rel="stylesheet" />
    <style type="text/css">
    @font-face {
        font-family: "FontAwesome";
        font-weight: normal;
        font-style : normal;
              src : url("<%= static_path() %>/fonts/fontawesome-webfont.eot?v=4.3.0");
              src : url("<%= static_path() %>/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
                    url("<%= static_path() %>/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
                    url("<%= static_path() %>/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
                    url("<%= static_path() %>/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
                    url("<%= static_path() %>/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
    }
    </style>
    <%= {:safe, css_link_tag() } %>
  </head>

  <body id="top">
    <main class="main" role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <%= {:safe, js_script_tag() } %>
  </body>

  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=GA_TRACKING_ID"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());
    gtag('config', 'UA-107976358-1');
  </script>

  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '371916799853582');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=371916799853582&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->

</html>
