// Basic Styles
@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style : normal;
           src : url("../static/fonts/fontawesome-webfont.eot?v=4.3.0");
           src : url("../static/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
                 url("../static/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
                 url("../static/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
                 url("../static/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
                 url("../static/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}
@import "colors.styl";
@import "flexbox.styl";
@import 'font-awesome.min.css';
@import 'ie8.css';
@import 'ie9.css';
@import 'grid.css';
@import "layout.styl";
@import "typography.styl";
@import "forms.styl";

// Views
@import "views/index.styl";
