// Variables

color-white            = #fff
color-black            = #01161e
color-bright-gray      = #777
color-medium-gray      = #aaa
color-medium-dark-gray = #555
color-dark-gray        = #333
color-light-orange     = #ff9f95
color-orange           = #ff887b
color-link             = color-dark-gray
color-feature-title    = color-dark-gray

photo-gradient = linear-gradient(to top, rgba(133, 133, 133, 0.3), rgba(133, 133, 133, 0.3))
