<div class="flex">
  <div>
    <h1 name="about" style="color: <%=@primary_color %>"> <%= @intro_statement %> </h1>
    <p style="display: inline;">
      <%= raw(@intro_paragraph |> String.replace("<p>", "") |> String.replace("</p>", "")) %>
    </p>

      <br/>
      <a href="/about" class="more-about" style="color: <%= @highlight_color %>; ">
        Read More 
      </a>
  </div>
</div>
